*
{
margin:0;
padding:0;
} 

header
{
background-image: url(Sharmin.jpg);
height: 110vh;
background-size: cover;
background-position: center;
  
}
.main-nav
{
   float: right;
   list-style:none;
    margine-top:30px;
}
.main-nav li
{
display: inline-block;
}
.main-nav li a
{
color:purple;
text-decoration: none;
padding: 10px 20px;
font-family: "Roboto",sans-serif;
fornt-size: 15px;
}
.main-nav li a:hover  
  
{
	border:1px solid black;
}
   .logo img
  {
	  
   width: 100px;
   height: auto;
   float: left;
   }
   body
   {
	   font-family: monospace;
   }
   .row
   {
	    max-width: 12000px;
            margin:auto;
   }
   
   
   
   
   
   
